<% if object.errors.any? %>
    <div class="">
        <div class="alert alert-danger">
            Ops! Encontramos um erro <=% pluralize(object.errors.counts, 'erro', 'erros') %>
            <ul>
                <% object.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    </div>
<% end %>
